:root {
  --sky-color: linear-gradient(45deg, #c1d0d3, #a1d2d9);
  --sun-color: #fbf138;
  --cloud-color: #f5f5f5;
  --cloud-inner-color: #c8eff6;
  --mountain-light-color: #999ea4;
  --mountain-dark-color: #667b80;
  --mountain-tip-light-color: #feffff;
  --mountain-tip-dark-color: #dedede;
  --tree-light-color: #599938;
  --tree-dark-color: #457937;
  --grass-light-color: #bee735;
  --grass-med-color: #9abe2a;
  --grass-med-2-color: #8cab1f;
  --grass-dark-color: #728f11;
  --water-color: #3e7182;
}

.wrapper {
  width: 400px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  overflow: hidden;
  transform: scale(2);
}

img {
  opacity: 0.5;
  position: absolute;
  display: none;
}

.sky {
  width: 100%;
  height: 100%;
  background: var(--sky-color);
}

.sky .sun {
  width: 60px;
  height: 57px;
  background-color: var(--sun-color);
  border-radius: 50%;
  position: relative;
  top: 13px;
  left: 22px;
}

.sky .cloud {
  position: absolute;
  background-color: var(--cloud-color);
  left: -150px;
}

.sky .cloud::before {
  border-radius: 50% 50% 0 50%;
  background-color: var(--cloud-inner-color);
  content: "";
  display: block;
  position: relative;
}

.sky .cloud::after {
  border-radius: 50% 50% 50% 0;
  background-color: var(--cloud-inner-color);
  content: "";
  display: block;
  position: relative;
}

.sky .cloud.cloud-1 {
  width: 24px;
  height: 23px;
  top: 92px;
  border-radius: 50% 50% 0 50%;
  animation: cloud 15s linear infinite 5s;
}

.sky .cloud.cloud-1::before {
  width: 27px;
  height: 25px;
  top: -2px;
  left: 13px;
}

.sky .cloud.cloud-1::after {
  width: 21px;
  height: 20px;
  top: -22px;
  left: 35px;
}

.sky .cloud.cloud-2 {
  width: 27px;
  height: 26px;
  top: 91px;
  border-radius: 50% 50% 0 50%;
  animation: cloud 20s linear infinite 7s;
}

.sky .cloud.cloud-2::before {
  width: 32px;
  height: 28px;
  top: -2px;
  left: 14px;
}

.sky .cloud.cloud-2::after {
  width: 25px;
  height: 23px;
  top: -25px;
  left: 38px;
}

.sky .cloud.cloud-3 {
  width: 31px;
  height: 29px;
  top: 73px;
  border-radius: 50% 50% 0 50%;
  animation: cloud 14s linear infinite 2s;
}

.sky .cloud.cloud-3::before {
  width: 37px;
  height: 31px;
  top: -2px;
  left: 15px;
}

.sky .cloud.cloud-3::after {
  width: 27px;
  height: 26px;
  top: -28px;
  left: 44px;
}

.sky .cloud.cloud-4 {
  width: 45px;
  height: 37px;
  top: 36px;
  border-radius: 50% 50% 0 50%;
  animation: cloud 12s linear infinite;
}

.sky .cloud.cloud-4::before {
  width: 45px;
  height: 41px;
  top: -4px;
  left: 23px;
}

.sky .cloud.cloud-4::after {
  width: 37px;
  height: 33px;
  top: -37px;
  left: 55px;
}

.tree .tree-light,
.tree .tree-dark {
  position: absolute;
}

.tree .tree-light {
  background-color: var(--tree-light-color);
}

.tree .tree-dark {
  background-color: var(--tree-dark-color);
}

.tree.tree-1 .tree-light,
.tree.tree-1 .tree-dark {
  height: 73px;
  width: 19px;
  top: 118px;
  left: 22px;
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%,
    50% 74%,
    10% 74%,
    71% 48%,
    25% 48%
  );
}

.tree.tree-1 .tree-dark {
  left: 41px;
  transform: scaleX(-1);
}

.tree.tree-2 .tree-light,
.tree.tree-2 .tree-dark {
  height: 58px;
  width: 16px;
  top: 136px;
  left: 73px;
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 106%,
    52% 92%,
    1% 92%,
    68% 60%,
    27% 60%
  );
}

.tree.tree-2 .tree-dark {
  left: 89px;
  transform: scaleX(-1);
}

.tree.tree-3 .tree-light,
.tree.tree-3 .tree-dark {
  height: 61px;
  width: 19px;
  top: 129px;
  left: -4px;
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 106%,
    54% 88%,
    3% 88%,
    70% 57%,
    27% 57%
  );
}

.tree.tree-3 .tree-dark {
  left: 15px;
  transform: scaleX(-1);
}

.tree.tree-4 .tree-light,
.tree.tree-4 .tree-dark {
  height: 61px;
  width: 15px;
  top: 132px;
  left: 50px;
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 106%,
    53% 78%,
    -7% 78%,
    58% 53%,
    3% 53%
  );
}

.tree.tree-4 .tree-dark {
  left: 65px;
  transform: scaleX(-1);
}

.tree.tree-5 .tree-light,
.tree.tree-5 .tree-dark {
  height: 38px;
  width: 12px;
  top: 153px;
  left: 33px;
  clip-path: polygon(100% 0, 100% 100%, -12% 98%, 41% 75%, 3% 76%);
}

.tree.tree-5 .tree-dark {
  left: 45px;
  transform: scaleX(-1);
}

.mountains {
  width: 213px;
  height: 76px;
  position: absolute;
  top: 121px;
  left: 185px;
}

.mountain-far .mountain-dark {
  width: 58px;
  height: 55px;
  position: absolute;
  top: 20px;
  left: 157px;
  background-color: var(--mountain-dark-color);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.mountain-far .mountain-dark .mountain-tip {
  width: 16px;
  height: 21px;
  background-color: var(--mountain-tip-dark-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 77%, 46% 90%, 0 85%);
}

.mountain-far .mountain-light {
  width: 58px;
  height: 55px;
  position: absolute;
  top: 20px;
  left: 99px;
  background-color: var(--mountain-light-color);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.mountain-far .mountain-light .mountain-tip {
  width: 14px;
  height: 22px;
  background-color: var(--mountain-tip-light-color);
  clip-path: polygon(100% 0, 100% 81%, 46% 100%, -1% 61%);
  right: 0;
  position: absolute;
}

.mountain-close .mountain-dark {
  width: 58px;
  height: 63px;
  position: absolute;
  top: 2px;
  left: 81px;
  background-color: var(--mountain-dark-color);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.mountain-close .mountain-dark .mountain-tip {
  width: 27px;
  height: 30px;
  background-color: var(--mountain-tip-dark-color);
  clip-path: polygon(0 0, 100% 0, 120% 98%, 42% 70%, 30% 88%, 0% 77%);
}

.mountain-close .mountain-light {
  width: 76px;
  height: 73px;
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: var(--mountain-light-color);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.mountain-close .mountain-light .mountain-tip {
  width: 27px;
  height: 29px;
  background-color: var(--mountain-tip-light-color);
  clip-path: polygon(100% 0, 100% 80%, 56% 97%, 16% 61%);
  right: 0;
  position: absolute;
}

.ground {
  width: 100%;
  height: 117px;
  position: absolute;
  bottom: 0;
}

.ground .water {
  width: 80%;
  height: 100%;
  background-color: var(--water-color);
  border-radius: 343px 174px 1px 1px / 139px 25px 1px 1px;
  position: absolute;
  right: 0;
}

.ground .hill-far {
  width: 59%;
  height: 89%;
  background-color: var(--grass-med-2-color);
  border-radius: 350px 0px 0px 0px / 149px 0px 0px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.ground .hill-far .hill-inner {
  width: 65%;
  height: 93%;
  background-color: var(--grass-dark-color);
  border-radius: 323px 0px 0px 0px / 200px 0px 0px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.ground .hill-close {
  width: 103%;
  height: 95%;
  background-color: var(--grass-light-color);
  border-radius: 1px 497px 0px 0px / 1px 128px 0px 0px;
  position: absolute;
  bottom: 0;
}

.ground .hill-close .hill-inner {
  width: 42%;
  height: 95%;
  background-color: var(--grass-med-color);
  border-radius: 1px 455px 0px 0px / 1px 272px 0px 0px;
  position: absolute;
  bottom: 0;
}

@keyframes cloud {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
